[Unit]
Description=MinerProxy
After=network.target


[Service]
Type=forking
ExecStart=/root/minerProxy/minerProxy.sh
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

