[Unit]
Description=minerProxy
After=network-online.target


[Service]
Type=forking
User=root
Restart=always
RestartSec=5
DynamicUser=true
ExecStart=/root/minerProxy/minerProxy.sh

[Install]
WantedBy=multi-user.target
