
[Unit]
Description=minerProxy
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
User=root
Restart=always
RestartSec=5
DynamicUser=true
ExecStart=/root/mp/mp.sh

[Install]
WantedBy=multi-user.target
